$color-black: #000000;
$color-white: #FFFFFF; 
$color-blue-marguerite: #6183B3;
$color-orange:#FF5815;
$color-blue-hawkes: #CCD8E8;
$color-orange:#FF5815;
$color-orange-light: #FE6D34;
$color-blue-oxford: #374A59;


$bp-small: 750px;
$bp-medium: 980px;
$bp-large: 1440px;







